* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(45deg, #1c598a, #2575fc, #6a11cb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  background-size: 300% 300%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

form {
  max-width: 400px;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
  text-align: center;
  width: 350px;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

li.remember {
  display: flex;
  margin-bottom: 18px;
}

input[type="checkbox"] {
  width: 15px;
  height: 15px;
  cursor: pointer;
  margin-right: 5px;
}

label[for="remember"] {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #34495e;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #3498db;
  outline: none;
}

li button[type="submit"] {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: #2575fc;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

li button[type="submit"]:hover {
  background-color: #2595fc;
  color: white;
}

/* login  */
.login-form h1 {
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
}

.login-form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.login-form li {
  margin-bottom: 20px;
}

li.input-box {
  position: relative;
  margin-bottom: 30px;
}

.input-box i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.7);
}

.login-form li.input-box label {
  position: absolute;
  color: rgba(255, 255, 255, 0.7);
  top: 50%;
  left: 15px;
  pointer-events: none;
  transition: 0.3s;
  transform: translateY(-50%);
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  outline: none;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.3);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  color: white;
}

.input-box input:focus + label,
.input-box input:valid + label {
  top: -10px;
  font-size: 12px;
}

ul p {
  color: rgba(255, 255, 255, 0.7);
}

ul p a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

ul p a:hover {
  text-decoration: underline;
}

/* Responsive register */
@media (max-width: 600px) {
  form {
    padding: 20px;
  }

  h1 {
    font-size: 2rem;
  }
}

/* Responsive login */
@media (max-width: 768px) {
  .login-form {
    padding: 30px;
    max-width: 350px;
  }

  .login-form h1 {
    font-size: 22px;
    margin-bottom: 25px;
  }
}

@media (max-width: 480px) {
  .login-form {
    padding: 20px;
    max-width: 90%;
  }

  .login-form h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .login-form button[type="submit"] {
    font-size: 14px;
    padding: 10px;
  }
}
